@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    margin:0;

}
a{
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}
i{
    color:rgb(224, 219, 219);
}
i:hover{
    color:#fff;
}
    
body {
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        font-family: 'Dosis', sans-serif;
        color: #121213;
        font-size: 14px;
        line-height: 20px
}
.overlay{
    height: 653px;
    margin: 8px;
    background-position: 0px 0px, 50% 0%;
    background-size: auto,cover;
    background-attachment:scroll,fixed;
    font-family: 'Dosis', sans-serif;
    position: relative;
    background-color: #c1c3cc; 
    background-image:linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(images/slide-2.jpg);
    
    /* box-sizing: border-box; */

}
.head{
    position: absolute;
    top:4%;
    left:4%;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    padding-left: 0%;
    padding-right: 0%;
    width: 90%;
    align-items: center;
    justify-content:space-between;
    background-color: #fff;
    box-sizing: border-box;
    
}
.slide{
    position: absolute;
    height: 110px;
    left: 0%;
    top: 0%;
    background-color: #e47312;
    display: flex;
    align-items: center;
    justify-content: center;
    width:13%;
    padding:44px 3%;
    box-sizing: border-box;

}
.nav-loc{
    position: absolute;
    right:220px;
    width: 600px;
    display: flex;
    font-size: 13px;
    letter-spacing: 0.1ch;
    font-weight: 600;
}
.nav-items{
    position: relative;
    right: -90px;
    display: flex;
    padding-top: 34px;
    padding-bottom:34px;
    /* top:10px; */
    align-items: center;
    margin-left: 40px;
    color: #121213;
}
.nav-items:hover {
    color: #e47312;
 }
 .selected{
     color: #e47312;
 }
 .nav-items:hover::before,
 .nav-items:hover::after{
     height: 30px;
 }
 .nav-items::before{
     content: "";
     position: absolute;
     left: 0%;
     top:0%;
     right: 0%;
     width: 1px;
     height: 0%;
     margin-left: auto;
     margin-right: auto;
     background-color: #e47312;
     transition: 0.2s;
 }
 .nav-items::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom:0%;
    right: 0%;
    width: 1px;
    height: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e47312;
    transition:.2s;
}
.head-but{
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.1ch;
    right:6%;
    top:26px;
    height: 90px;
    width: 13%;
    box-sizing: border-box;
}
.glit{
    background-color: #e47312;
    /* box-sizing: border-box; */
}
.glit:hover{
    background-color: #eb9143;
}
.tagl{
    position:absolute;
    top:43%;
    left: 10%;
    font-size: 18px;
    font-weight: 560;
    letter-spacing:1px;
    color: rgb(243, 243, 243);
    /* box-sizing: border-box; */
}
.headline{
    position:absolute;
    top:290px;
    left: 10%;
    color: #fff;
    text-transform: uppercase;
    font-size: 61px;
    font-weight: 900;
    letter-spacing: 0.1ch;
}
.button{
    position: absolute;
    left: 10%;
    top: 400px;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-weight: 590;
    color: #fff;
    padding: 15px 35px;
}
.icon{
    position: absolute; 
    top: 295px;
    right:2.5%;
    bottom:auto;
    color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #0a1229;
    
}
.icon i{
    font-size: larger;
    border-left: 20px solid #0a1229;
    border-right: 20px solid #0a1229;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    padding:20px 0 20px 0;
}
.contact{
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    display:flex;
    color: #c1c3cc;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    /* box-sizing: border-box; */
    height: 235px;
    width: 900px;
    padding:0;
    padding-left:60px;
    top: 525px;
    right:2.5%;
}
.items i{
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    /* box-sizing: border-box; */
}
.items{
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto 17px;
    /* box-sizing: border-box; */
    padding:20px 60px ;
}
.items div{
    display: block;
    margin:20px 0px;
    text-transform: uppercase;
    /* box-sizing: border-box; */
    letter-spacing: 0.1ch;
    font-weight: 700;
}
.items span{
    margin-bottom: 6px;
    font-size:16px;
    font-weight: 200;
    /* box-sizing: border-box; */
    color: #e9e9e9;
}
.contact i{
    position: relative;
    /* box-sizing: border-box; */
    top:10px;
    font-size: 25px;
    display: block;
}
.items strong{
    display: block;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    text-transform: uppercase;
    /* width: 80px; */
    letter-spacing: 0.1ch;
    color: #fff; 
}
.items strong:hover{ 
    cursor: pointer;
    border-bottom: 0.1px solid #fff;
}

.dropbtn {  
    color: #121213;
    width: 50px;
    cursor: pointer;
}
.dropbtn:hover{
  color:#e47312;
  cursor: pointer;
}


.dropdown {
    display: inline-block;
    width: 0px;
    margin-left: 0px;
}



.dropdown-content {
  position: absolute;
  top:100%;
  left:90%;
  color: #000000;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}


.dropdown-content a {
  color:#121213;
  padding: 12px 16px;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
}

.dropdown-content a:hover {
    color: #e47312;
    background-color: #dbdbdb;
    cursor: pointer;
    /* box-sizing: border-box; */
}
.dropdown:hover .dropdown-content {
  display: block;
  box-sizing: border-box;
  z-index: 1;
}
article .labl{
    cursor: pointer;
    color: gray;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2ch;
    margin-top: auto;
    margin-bottom:auto;
}
article .labl:hover{
    border-bottom: 3px solid #e47312;
    cursor: pointer;
}
article .z1{
    position: absolute;
    left: 90px;
    top: 870px;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
}
.heading{
    z-index: 1;
    position: absolute;
    left: 10%;
    top: 870px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-size: 42px;
}
article .z2{
    position: absolute;
    right: 21%;
    top: 1445px;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
}
.heading2{
    z-index: 1;
    position: absolute;
    right: 28.8%;
    top: 1465px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-size: 42px;
}
.z3{
position: absolute;
left: 8%;
padding-top: 30px;
top: 50px;
color: rgba(233, 233, 242, 0.3);
font-size: 120px;
letter-spacing: 11px;
}

.heading3{
z-index: 1;
position: absolute;
padding-top: 10px;
left: 9%;
top:100px;
letter-spacing: 0.1px;
text-transform: uppercase;
font-size: 42px;
font-weight: 900;

}
.cards{
    position: absolute;
    left: 14%;
    top: 1000px;
    display: flex;
    justify-content:space-evenly;
}
.card{
    margin-left:6%;
}
article pre{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
.heading2+pre{
    position: absolute;
    top: 1550px;
    right: 11.5%;
    width: fit-content;
}

.cards .land{
    position: absolute;
    top:250px;
}
.capt{
    letter-spacing: 0.1ch;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}
.right-align{
    position: absolute;
    top: 900px;
    right: 8%;
}
.who img{
    position: absolute;
    top:1440px;
    left: 10%;
    width: 40%;
    height:400px;
}
.land2{
    position: absolute;
    top: 1810px;
    right: 35.5%;
    letter-spacing: 0.2ch;
    width: fit-content;
}
.land3{
    position: absolute;
    right: 150px; 
    top: 110px; 
}
.nums{
    position: absolute;
    top:1950px;
    left: 10%; 
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width:78%;
}
.nums h1{
    color: #e47312;
    font-size: 62px;
    padding: 0 20px 40px 0;
}
.nums .sec{
    width: 13%;
    padding: 0 20px 20px 0;  
    font-size: 17px;
    color: #9e9ea3; 
}
.grid{
    background-image: linear-gradient(76deg, rgba(212, 212, 212, 0.3) 35%, rgba(193, 195, 204, 0.28) 65%);
    height: 1160px;
    position: relative;
    top:1500px;
    background-position: 0px 0px, 50% 0%;
    background-size: auto,cover;
    background-attachment:scroll,fixed;
}
.gal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top:220px;
    align-items: center;
    justify-content:center; 
    
}
.posis{
    color:#fff;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 443px;
    background-color: transparent;
    width: 31%;
    margin: 10px;
    /* background-color: #9e9ea3;
    opacity: 0.5;
    z-index: 2; */
}
.posis img{
    position:absolute;
    display: flex;
    height: 450px;
}
.visible{
z-index: -1;
position: relative;
width:70px;
height:70px;
opacity: 2px;
box-shadow: 0 0 100px 169px rgba(0,0,0,0.3);
display: flex;   
padding:20px;
border-radius: 100%;
background-color: #e47312;
justify-content:center;
align-items:center;
text-align: center;
}
.posis:hover .visible{
   z-index: 1;
   background-color: #e47312;
   transition: .3s;
}
.backg{
    position: relative;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(images/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size:auto, cover;
    background-repeat:repeat, no-repeat;
    background-attachment:scroll, fixed;
    top:1500px;
    height:200px;
    text-align:center;
}

.backg h1{
    color: #fff;
    font-size: 48px;
    padding: 35px;
    letter-spacing: 0.1ch;
}
.backg p{
    color: #dbdce2;
    font-size: 18px;
    margin-bottom: 40px;
}
.backg span{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 2px;
    letter-spacing: 0.2ch;
    color: #fff;
}
.labl-d:hover{
    border-bottom: 3px solid #fff;
    width: fit-content;
    cursor: pointer;
}
.extend{
    height: 220vh;
    background-color: #f2f6ff;
    position: relative;
    top:1500px;
}
.heading4{
z-index: 1;
position: absolute;
left: 9%;
top:170px; 
letter-spacing: 0.2ch;
text-transform: uppercase;
font-size: 42px;
font-weight: 900;
}
.z4{
    position: absolute;
    left: 6%;
    top:153px; 
    color: rgba(185, 185, 185, 0.1);
    font-size: 120px;
    letter-spacing: 11px;
}
.land4{
    position: absolute;
    top:173px; 
    right: 10%;
}
.holder{
    position: relative;
    margin: 100px;
    left:auto;
    right:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
}
.team{
     position: relative;
        margin: 10px;
        transition: 0.3s;
        width:285px;
        height: 398px;
}
.team .landside{
    position: absolute;
    width: 55px;
    right: 0;;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.team i{
    font-size: larger;
    padding:20px 0;
    background-color: #e47312;
    border-left: 20px solid #e47312;
    border-right: 20px solid #e47312;
    border-bottom:0.1px solid #dbdbdb;
    
}
.team .bot{
    position:absolute;
    bottom: 0%;
    width: 90%;
    text-align:left;
    background-color: #ffffff;
    padding:25px 0px 25px 20px;
    letter-spacing: 0.1ch;
}
.bot h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.bot p{
    font-size: 15px;
    color: #9e9ea3;
}
.z5{
    position: absolute;
    top: 800px;
    left: 0;
    color: rgba(241, 241, 247, 0.7); 
    font-size: 120px;
    letter-spacing: 11px;
}
.heading5{
z-index: 1;
position: absolute;
left: 2%;
top:820px; 
letter-spacing: 0.2ch;
text-transform: uppercase;
font-size: 42px;
font-weight: 900;

}
.land5{
position: absolute;
top: 980px;
left: 2%;
width:fit-content;
}
.heading5+p{
    color: #9e9ea3;
    font-size: 18px;
    position: absolute;
    top: 900px;
    left: 2%;
    text-align: left;
    width: 420px;
}
.left{
    display: inline;
}
.stick{
    display: flex;
    justify-content:space-around;
    width: 66%;
    height: 150%;
    position: absolute;
    top: 600px;
    right: -50px;
    margin: 0;
}
.stickers{
    padding: 40px;
    width: 255px;
    margin-right: -900px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 25px auto 10px auto;
}
.stickers div:first-child{
    margin: -80px auto 50px auto;
    display: flex;
    justify-content:center;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 78px;
    background-color: #e47312;
    border-radius: 100%;
    width: 60px;
    height:60px;
}
.stickers h3{
    font-weight: 500;
    margin: -10px auto 10px auto;
}
.stickers span{
    color: #bec0c7;
    margin: -5px auto 15px auto;
    font-size: 18px;
    padding: 10px;
}
.stickers p{
font-size: 17px;
color: #9e9ea3;
}
.blog{
    position: absolute;
    top:5650px;
    right:auto;
    left: auto;
}
.blog .heading6{
z-index: 1;
 position: relative;
/*top:5600px; */
left: 3%; 
letter-spacing: 0.2ch;
text-transform: uppercase;
font-size: 42px;
font-weight: 900;
}
.blog .z6{
    position: relative;
    top: 15px;
    left: 0%; 
    color: rgba(241, 241, 247, 0.4); 
    font-size: 120px;
    letter-spacing: 11px;

}
.blog .land6{
    position: relative;
   /*  top: 5610px;*/
    right: -1100px;
    width:fit-content;
}
.disp{
    position: relative;
    display: flex;
    top: 50px;
    width:105%;
    justify-content: space-evenly;
}
.disp .imag{
    position: relative;
    top: 50px;
    width:380px;
    display: flex;
}
.imag h4{
    font-size: larger;
    letter-spacing: 0.2ch;
}
.imag .boo{
    position:absolute;
    top: 250px;
    height: 150px;
    color: rgb(247, 247, 247);
    padding: 25px;
    background-image: linear-gradient(132deg, #e47312, rgba(255, 99, 97, 0.98));
    margin-bottom: 10px;
}
.boo p{
    margin: 25px 0 35px 0;
    font-size: 17px;
    font-weight: 100;
    color:rgb(224, 215, 215);
    letter-spacing: 0.3px;
    line-height: 24px;
    margin-bottom: 20px;
}
.imag .lan-d{
    position: absolute;
    text-transform:uppercase;
    bottom: 20px;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.1ch;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(216, 216, 208, 0.667);
    width:fit-content;
}
.imag .lan-d:hover{
    border-bottom:2px solid #fff;
    cursor: pointer;
}
.imag .topp{
    position: absolute;
    right: 0%;
    display: flex;
    width: 70px;
    height: 70px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(220deg, #e47312, rgba(255, 99, 97, 0.98));
}
.imag .bott{
    text-transform: uppercase;
    position: absolute;
    right: 0%;
    top: 70px;
    height: 35px;
    width: 70px;
    display: flex;
    font-weight: 700;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #fff;
    color: #b1b1b4;
}
.top-c{
    height: 200px;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    justify-content:space-evenly;
    top: 1900px;
    margin: 0;
    background-image: linear-gradient(90deg, #e47312, rgba(255, 99, 97, 0.98));
}
.top-c .gridd{
    position: absolute;
    right: 10%;

}
.gridd img{
    margin-right: 65px;
}
.top-c .capt{
    position: absolute;
    left: 10%;
   font-size: 16px;
   letter-spacing: 0.3ch;
   font-weight: 600;

}
.holdem{
    color: #fff;
    background-color: #0a1229;
    position: relative;
    top: 1900px;
    width: 90%;
    height:70vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}
.holdem hr{
    position: relative;
    right: -30%;
    top: -10px;
    font-size: 1px;
    background-color: #ff6361;
    color: #ff6361;
    border: 0.1px solid #ff6361;
    width: 60%;

}
.about,.serv,.conta{
    width:26%;
}
.ablog,.srvlog,.contlog{
    margin:80px auto 30px auto;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .3ch;
}
.about p{
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.1ch;
    line-height: 25px;
    margin-bottom: 5%;
}
.about div:last-of-type{
    text-transform: uppercase;
    padding-bottom: 2px;
    font-size: small;
    font-weight: 600;
    letter-spacing: 0.2ch;
}
.about div:last-of-type:hover{
    border-bottom: 2px solid #fff;
    width: fit-content;
    cursor: pointer;
}
.srvlog~div{
    position: relative;
    bottom: auto;
    top: auto;
    font-size: 14px;
    letter-spacing: 0.1ch;
    padding-bottom: 1px;
    margin: 10px 0;
    width: fit-content;
}
.srvlog~div:hover{
    margin-bottom: -1px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.conta span{
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2ch;
}
.conta i{
    font-size: 20px;
    margin-bottom: 15px ;
}
.conta p{
    text-align:left;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: larger;
    color: #afafaf;
}
.lander{
    position: relative;
   top: 1785px;
    left: 9%;
    background-color: #e47312;
    width: 11%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
